.profile-pic {
  max-width: 40%;
  border-radius: 20%;
  border: 1px solid lightcoral;
}

a > .btn-pink {
  background-color: lightcoral;
  border: 1px solid lightcoral;
  color: white;
  border-radius: 5px;
}
a > .btn-pink:hover {
  background-color: white;
  color: black;
  border: 1px solid lightcoral;
  border-radius: 5px;
}

a > .btn-gray {
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 5px;
}

a > .btn-gray:hover {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
}